@font-face {
    font-family: 'ddc-icons';
    src:  url('ddc-icons.eot');
    src:  url('ddc-icons.eot') format('embedded-opentype'),
    url('ddc-icons.ttf') format('truetype'),
    url('ddc-icons.woff') format('woff'),
    url('ddc-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ic__circle.ic__circle {
    justify-content: center;
    align-items: center;
    display : inline-flex;
    font-size  : 38px;
    width      : 54px;
    height     : 54px;
    background : #f6f6f6;
    color      : #003C6D                      ;
    -webkit-border-radius : 54px;
    border-radius         : 54px;
    background-clip                : padding-box; /* stops bg color from leaking outside the border: */
}
[class^="ic--"]::before, [class*=" ic--"]::before{
    font-family: 'ddc-icons' !important;
}
[class^="ic--"], [class*=" ic--"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ddc-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic--caravan:before {
    content: "\e916";
  }
.ic--at:before {
    content: "\e900";
}
.ic--+:before {
    content: "\e901";
}
.ic--+2:before {
                content: "\e902";
            }
.ic--advice_chev_left:before {
    content: "\e903";
}
.ic--alarm:before {
    content: "\e904";
}
.ic--apple:before {
    content: "\e905";
}
.ic--transport:before {
    content: "\e906";
}
.ic--avi:before {
    content: "\e907";
}
.ic--balloon:before {
    content: "\e908";
}
.ic--bar:before {
    content: "\e909";
}
.ic--bike:before {
    content: "\e90a";
}
.ic--bluetooth:before {
    content: "\e90b";
}
.ic--boat:before {
    content: "\e90c";
}
.ic--boy:before {
    content: "\e90d";
}
.ic--bpay:before {
    content: "\e90e";
}
.ic--brightness:before {
    content: "\e90f";
}
.ic--burger:before {
    content: "\e910";
}
.ic--calculator:before {
    content: "\e911";
}
.ic--calendar_cross:before {
    content: "\e912";
}
.ic--calendar_plain:before {
    content: "\e913";
}
.ic--calendar_tick:before {
    content: "\e914";
}
.ic--car:before {
    content: "\e915";
}
.ic--card_double:before {
    content: "\e917";
}
.ic--card_single:before {
    content: "\e918";
}
.ic--cart:before {
    content: "\e919";
}
.ic--cash:before {
    content: "\e91a";
}
.ic--checkbox_cross:before {
    content: "\e91b";
}
.ic--checkbox_tick:before {
    content: "\e91c";
}
.ic--click:before {
    content: "\e91d";
}
.ic--clipboard:before {
    content: "\e91e";
}
.ic--clock:before {
    content: "\e91f";
}
.ic--close:before {
    content: "\e920";
}
.ic--close_fill:before {
    content: "\e921";
}
.ic--close_outline:before {
    content: "\e922";
}
.ic--coffee:before {
    content: "\e923";
}
.ic--coin_double:before {
    content: "\e924";
}
.ic--coin_single:before {
    content: "\e925";
}
.ic--coin_slot:before {
    content: "\e926";
}
.ic--compass:before {
    content: "\e927";
}
.ic--delete:before {
    content: "\e928";
}
.ic--destination:before {
    content: "\e929";
}
.ic--doc:before {
    content: "\e92a";
}
.ic--doc_double:before {
    content: "\e92b";
}
.ic--document_plain:before {
    content: "\e92c";
}
.ic--document_written:before {
    content: "\e92d";
}
.ic--down:before {
    content: "\e92e";
}
.ic--download:before {
    content: "\e92f";
}
.ic--exit:before {
    content: "\e930";
}
.ic--export:before {
    content: "\e931";
}
.ic--eye_filled:before {
    content: "\e932";
}
.ic--eye_outline:before {
    content: "\e933";
}
.ic--facebook:before {
    content: "\e934";
}
.ic--fees-and-charges:before {
    content: "\e935";
}
.ic--fill_down:before {
    content: "\e936";
}
.ic--fill_left:before {
    content: "\e937";
}
.ic--fill_right:before {
    content: "\e938";
}
.ic--fill_up:before {
    content: "\e939";
}
.ic--filter:before {
    content: "\e93a";
}
.ic--flag_filled:before {
    content: "\e93b";
}
.ic--flag_outline:before {
    content: "\e93c";
}
.ic--folder:before {
    content: "\e93d";
}
.ic--girl:before {
    content: "\e93e";
}
.ic--globe:before {
    content: "\e93f";
}
.ic--grab:before {
    content: "\e940";
}
.ic--graduation:before {
    content: "\e941";
}
.ic--groceries:before {
    content: "\e942";
}
.ic--clothing:before {
    content: "\e943";
}
.ic--health:before {
    content: "\e944";
}
.ic--heart:before {
    content: "\e945";
}
.ic--home:before {
    content: "\e946";
}
.ic--housing:before {
    content: "\e947";
}
.ic--icecream:before {
    content: "\e948";
}
.ic--imac:before {
    content: "\e949";
}
.ic--Industry:before {
    content: "\e94a";
    color: #a72280;
}
.ic--info_filled .path1:before {
    content: "\e94b";
    color: rgb(255, 255, 255);
}
.ic--info_filled .path2:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(8, 31, 64);
}
.ic--info_outline .path1:before {
    content: "\e94d";
    color: rgb(255, 255, 255);
}
.ic--info_outline .path2:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(8, 31, 64);
}
.ic--instagram:before {
    content: "\e94f";
}
.ic--ipad:before {
    content: "\e950";
}
.ic--iphone:before {
    content: "\e951";
}
.ic--household:before {
    content: "\e952";
}
.ic--kids-hand:before {
    content: "\e953";
}
.ic--food:before {
    content: "\e954";
}
.ic--leaves:before {
    content: "\e955";
}
.ic--left:before {
    content: "\e956";
}
.ic--letter_closed:before {
    content: "\e957";
}
.ic--letter_open:before {
    content: "\e958";
}
.ic--energy:before {
    content: "\e95a";
}
.ic--like:before {
    content: "\e95b";
}
.ic--line_down:before {
    content: "\e95c";
}
.ic--line_left:before {
    content: "\e95d";
}
.ic--line_right:before {
    content: "\e95e";
}
.ic--line_up:before {
    content: "\e95f";
}
.ic--linegraph:before {
    content: "\e960";
}
.ic--link:before {
    content: "\e961";
}
.ic--location:before {
    content: "\e962";
}
.ic--lock:before {
    content: "\e963";
}
.ic--macbook:before {
    content: "\e964";
}
.ic--man:before {
    content: "\e965";
}
.ic--map:before {
    content: "\e966";
}
.ic--Martini:before {
    content: "\e967";
}
.ic--minus:before {
    content: "\e969";
}
.ic--mixer:before {
    content: "\e96a";
    color: #a72280;
}
.ic--moon:before {
    content: "\e96b";
}
.ic--more:before {
    content: "\e96c";
}
.ic--mouse:before {
    content: "\e96d";
}
.ic--mp3:before {
    content: "\e96e";
}
.ic--newsletter:before {
    content: "\e974";
}
.ic--notifications_with .path1:before {
    content: "\e975";
    color: rgb(0, 30, 65);
}
.ic--notifications_with .path2:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(0, 170, 224);
}
.ic--notifications_without:before {
    content: "\e977";
}
.ic--off:before {
    content: "\e978";
}
.ic--paint-roller:before {
    content: "\e979";
}
.ic--pdf:before {
    content: "\e97a";
}
.ic--pencil:before {
    content: "\e97b";
}
.ic--petrol:before {
    content: "\e97c";
}
.ic--pets:before {
    content: "\e97d";
}
.ic--phone:before {
    content: "\e97e";
}
.ic--photo_id:before {
    content: "\e97f";
}
.ic--pie:before {
    content: "\e980";
}
.ic--piggybank:before {
    content: "\e981";
}
.ic--pin:before {
    content: "\e982";
}
.ic--leisure:before {
    content: "\e983";
}
.ic--play:before {
    content: "\e984";
}
.ic--plus:before {
    content: "\e985";
}
.ic--ppt:before {
    content: "\e986";
}
.ic--present:before {
    content: "\e987";
}
.ic--print_line:before {
    content: "\e988";
}
.ic--profile:before {
    content: "\e989";
}
.ic--profile_add-account:before {
    content: "\e98a";
}
.ic--question-mark:before {
    content: "\e98b";
}
.ic--refresh:before {
    content: "\e98c";
}
.ic--reply:before {
    content: "\e98d";
}
.ic--right:before {
    content: "\e98e";
}
.ic--road:before {
    content: "\e98f";
}
.ic--scale:before {
    content: "\e990";
}
.ic--scissors:before {
    content: "\e991";
}
.ic--search:before {
    content: "\e992";
}
.ic--send:before {
    content: "\e993";
}
.ic--settings:before {
    content: "\e994";
}
.ic--share:before {
    content: "\e995";
}
.ic--shopping:before {
    content: "\e997";
}
.ic--sign_multiple:before {
    content: "\e998";
}
.ic--sign_single:before {
    content: "\e999";
}
.ic--solid_down:before {
    content: "\e99a";
}
.ic--solid_up:before {
    content: "\e99b";
}
.ic--sound:before {
    content: "\e99c";
}
.ic--spanner:before {
    content: "\e99d";
}
.ic--spedometer:before {
    content: "\e99e";
}
.ic--speechbubble:before {
    content: "\e99f";
}
.ic--communications:before {
    content: "\e9a0";
}
.ic--star_filled:before {
    content: "\e9a1";
}
.ic--star_outline:before {
    content: "\e9a2";
}
.ic--start-again:before {
    content: "\e9a3";
}
.ic--suitcase:before {
    content: "\e9a4";
}
.ic--sun:before {
    content: "\e9a5";
}
.ic--tag_1:before {
    content: "\e9a7";
}
.ic--tag-2:before {
    content: "\e9a8";
}
.ic--target:before {
    content: "\e9a9";
}
.ic--things-to-consider:before {
    content: "\e9aa";
    color: #a97c50;
}
.ic--tick_filled:before {
    content: "\e9ab";
}
.ic--tick_line:before {
    content: "\e9ac";
}
.ic--ticket:before {
    content: "\e9ad";
}
.ic--transfers:before {
    content: "\e9ae";
}
.ic--tree:before {
    content: "\e9af";
}
.ic--twitter:before {
    content: "\e9b0";
}
.ic--umbrella:before {
    content: "\e9b1";
}
.ic--unlike:before {
    content: "\e9b2";
}
.ic--unlock:before {
    content: "\e9b3";
}
.ic--up:before {
    content: "\e9b4";
}
.ic--upload:before {
    content: "\e9b5";
}
.ic--warning_fill:before {
    content: "\e9b6";
}
.ic--warning_outline .path1:before {
    content: "\e9b7";
    color: rgb(255, 255, 255);
}
.ic--warning_outline .path2:before {
    content: "\e9b8";
    margin-left: -1em;
    color: rgb(0, 30, 65);
}
.ic--wifi:before {
    content: "\e9b9";
}
.ic--woman:before {
    content: "\e9ba";
}
.ic--youtube:before {
    content: "\e9bb";
}
.ic--zoom_in:before {
    content: "\e9bc";
}
.ic--zoom_out:before {
    content: "\e9bd";
}
