#nps-container a.button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 15px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border: 2px solid #00aae0;
  color: #00aae0;
  background-color: transparent; }

#nps-container a.button.disabled {
  color: #ddd;
  border-color: #ddd;
  background: #fff;
  cursor: default;
  pointer-events: none; }

#nps-container a.button.button--medium {
  height: 50px;
  width: 170px; }

#nps-container .icon:before{
  font-family:xtreme!important
}

/**
 * ============================================================================ 
 * CM70.1-lightbox-popup-page
 * ============================================================================ 
*/
.lightBoxArea {
  position: relative;
  display: none;
  z-index: 1200; }
  .lightBoxArea .overlay {
    height: 100%;
    width: 100%;
    background: #646567;
    position: fixed;
    z-index: 10;
    top: 0px;
    opacity: 0.8; }
  .lightBoxArea .light-box {
    width: 794px;
    position: absolute;
    z-index: 11;
    background: #fff;
    margin-left: -397px;
    margin-top: -280px; }
    @media (min-width: 40em) and (max-width: 63.9375em) {
      .lightBoxArea .light-box {
        width: 94%;
        margin-left: -368px;
        margin-top: -280px; } }
    @media only screen and (max-width: 47.9375em) {
      .lightBoxArea .light-box {
        width: 100% !important;
        margin: 0 !important;
        top: 10% !important;
        left: 0 !important; } }
    .lightBoxArea .light-box .closeLB {
      float: right;
      color: #fff;
      position: absolute;
      right: 0;
      right: 20px;
      top: 20px; }
    .lightBoxArea .light-box .popup-container {
      display: none;
      padding: 40px;
      background: #fff;
      float: left;
      max-height: 455px;
      overflow: hidden;
      overflow-y: auto; }
      @media only screen and (max-width: 47.9375em) {
        .lightBoxArea .light-box .popup-container {
          padding: 5%; } }
      .lightBoxArea .light-box .popup-container .content-popup {
        width: 100%; }
        @media only screen and (max-width: 47.9375em) {
          .lightBoxArea .light-box .popup-container .content-popup {
            width: 100%;
            text-align: center; } }
        .lightBoxArea .light-box .popup-container .content-popup img {
          float: left; }
          @media only screen and (max-width: 47.9375em) {
            .lightBoxArea .light-box .popup-container .content-popup img {
              float: none; } }
        .lightBoxArea .light-box .popup-container .content-popup .popup-content-header {
          margin-left: 20px;
          color: #646567;
          float: left;
          width: 85%; }
          @media only screen and (max-width: 47.9375em) {
            .lightBoxArea .light-box .popup-container .content-popup .popup-content-header {
              float: none;
              text-align: center;
              width: 100%;
              margin: 0; } }
          .lightBoxArea .light-box .popup-container .content-popup .popup-content-header h3 {
            color: #00aae0;
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 5px 0;
            padding: 0; }
          .lightBoxArea .light-box .popup-container .content-popup .popup-content-header p {
            font-size: 14px;
            color: #778189;
            line-height: 22px;
            font-weight: 600; }
          .lightBoxArea .light-box .popup-container .content-popup .popup-content-header a, .lightBoxArea .light-box .popup-container .content-popup .popup-content-header .secondary-nav .search .ctrl-holder input.text, .secondary-nav .search .ctrl-holder .lightBoxArea .light-box .popup-container .content-popup .popup-content-header input.text {
            text-decoration: underline; }
        .lightBoxArea .light-box .popup-container .content-popup table {
          margin: 0; }
      .lightBoxArea .light-box .popup-container .popup-content-list {
        padding: 0;
        float: left; }
        .lightBoxArea .light-box .popup-container .popup-content-list li {
          font-size: 13px;
          line-height: 20px;
          color: #666;
          margin: 10px 0;
          padding-left: 25px;
          list-style: none;
          padding: 0;
          float: left;
          width: 100%; }
          .lightBoxArea .light-box .popup-container .popup-content-list li .list-arrow {
            float: left;
            margin: 4px 15px 0 0; }
          .lightBoxArea .light-box .popup-container .popup-content-list li .list-txt {
            float: left;
            width: 85%; }
          .lightBoxArea .light-box .popup-container .popup-content-list li a, .lightBoxArea .light-box .popup-container .popup-content-list li .secondary-nav .search .ctrl-holder input.text, .secondary-nav .search .ctrl-holder .lightBoxArea .light-box .popup-container .popup-content-list li input.text {
            text-decoration: underline; }
      .lightBoxArea .light-box .popup-container .popup-btm-content {
        background: #eef8fd;
        color: #646567;
        font-size: 13px;
        line-height: 22px;
        padding: 15px;
        float: left;
        width: 85%; }
        .lightBoxArea .light-box .popup-container .popup-btm-content strong {
          color: #646567;
          font-size: 14px; }
      .lightBoxArea .light-box .popup-container .light-box-banner {
        width: 320px;
        height: auto;
        margin-top: 16px; }
      @media only screen and (max-width: 47.9375em) {
        .lightBoxArea .light-box .popup-container .align-center {
          text-align: center; } }
      .lightBoxArea .light-box .popup-container .col-50 {
        position: static; }

#nps-container .icon--plus-rotated {
  transform: rotate(45deg);
  display: inline-block;
  color: #646567;
  vertical-align: middle; }
  #nps-container .icon--plus-rotated:before {
    font-size: 20px;
    top: 0; }
#nps-container a.button, #nps-container .button-toggle a.bt--normal, .button-toggle #nps-container a.bt--normal, #nps-container .button-toggle .secondary-nav .search .ctrl-holder input.bt--normal.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container input.bt--normal.text, #nps-container .secondary-nav .search .ctrl-holder .button-toggle input.bt--normal.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container input.bt--normal.text, #nps-container .button-toggle a.bt--selected, .button-toggle #nps-container a.bt--selected, #nps-container .button-toggle .secondary-nav .search .ctrl-holder input.bt--selected.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container input.bt--selected.text, #nps-container .secondary-nav .search .ctrl-holder .button-toggle input.bt--selected.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container input.bt--selected.text, #nps-container .secondary-nav .search .ctrl-holder input.button.text, .secondary-nav .search .ctrl-holder #nps-container input.button.text {
  padding: 10px 0px; }
#nps-container a.button--unstyled, #nps-container .col-30 .cta-campaign a.button, .col-30 .cta-campaign #nps-container a.button, #nps-container .col-30 .cta-campaign .button-toggle a.bt--normal, .col-30 .cta-campaign .button-toggle #nps-container a.bt--normal, #nps-container .button-toggle .col-30 .cta-campaign a.bt--normal, .button-toggle .col-30 .cta-campaign #nps-container a.bt--normal, #nps-container .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder input.bt--normal.text, .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder #nps-container input.bt--normal.text, #nps-container .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign input.bt--normal.text, .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign #nps-container input.bt--normal.text, #nps-container .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle input.bt--normal.text, .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle #nps-container input.bt--normal.text, #nps-container .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign input.bt--normal.text, .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign #nps-container input.bt--normal.text, #nps-container .col-30 .cta-campaign .button-toggle a.bt--selected, .col-30 .cta-campaign .button-toggle #nps-container a.bt--selected, #nps-container .button-toggle .col-30 .cta-campaign a.bt--selected, .button-toggle .col-30 .cta-campaign #nps-container a.bt--selected, #nps-container .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder input.bt--selected.text, .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder #nps-container input.bt--selected.text, #nps-container .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign input.bt--selected.text, .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign #nps-container input.bt--selected.text, #nps-container .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle input.bt--selected.text, .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle #nps-container input.bt--selected.text, #nps-container .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign input.bt--selected.text, .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign #nps-container input.bt--selected.text, #nps-container .col-30 .cta-campaign .secondary-nav .search .ctrl-holder input.button.text, .col-30 .cta-campaign .secondary-nav .search .ctrl-holder #nps-container input.button.text, #nps-container .secondary-nav .search .ctrl-holder .col-30 .cta-campaign input.button.text, .secondary-nav .search .ctrl-holder .col-30 .cta-campaign #nps-container input.button.text, #nps-container .secondary-nav .search .ctrl-holder input.button--unstyled.text, .secondary-nav .search .ctrl-holder #nps-container input.button--unstyled.text {
  padding: 12px; }
#nps-container .logo-container div {
  display: inline-block;
  width: auto; }
#nps-container .logo-container {
  padding: 20px; }
  #nps-container .logo-container h3 {
    color: #001e41;
    margin: 0px;
    font-family: "Archer SSm A", "Archer SSm B", "Open Sans", "Helvetica", "Arial", serif;
    font-weight: 400; }
  #nps-container .logo-container > div {
    vertical-align: middle;
    padding: 0px 10px; }
  #nps-container .logo-container > div.logo {
    background-image: url(legacy-nps/img/logo-amp-dark.png);
    background-repeat: no-repeat;
    background-size: 80px;
    padding: 0px 10px;
    width: 80px;
    height: 35px; }
#nps-container .content-container {
  padding: 0px 10px; }
  #nps-container .content-container .col {
    padding: 10px; }
    #nps-container .content-container .col a, #nps-container .content-container .col .secondary-nav .search .ctrl-holder input.text, .secondary-nav .search .ctrl-holder #nps-container .content-container .col input.text {
      width: 100%; }
#nps-container .nps-error-container {
  display: none;
  position: absolute;
  min-height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  text-align: center !important;
  min-height: 150px;
  padding: 40px 0px 0px 0px;
  z-index: 2; }
#nps-container .aem-content {
  clear: both;
  padding-top: 20px; }
  #nps-container .aem-content .btn-group.question {
    float: left; }
  #nps-container .aem-content .icon.question-mark, #nps-container .aem-content .fake-scroll .question-mark.cntrl-scroll, .fake-scroll #nps-container .aem-content .question-mark.cntrl-scroll, #nps-container .aem-content .ask-amp .submit-button-wrapper span.question-mark, .ask-amp .submit-button-wrapper #nps-container .aem-content span.question-mark, #nps-container .aem-content .document-list li.question-mark:before, .document-list #nps-container .aem-content li.question-mark:before, #nps-container .aem-content .minus-list li.question-mark:before, .minus-list #nps-container .aem-content li.question-mark:before, #nps-container .aem-content .question-mark.responsive-table-menu-btn {
    color: #c3c3c3;}
	  @media only screen and (max-width: 47.9375em) {
	  	#nps-container .aem-content .icon.question-mark {
    	padding-top: 6px; 
	  } }
  #nps-container .aem-content .content {
    padding: 20px 40px; }
  #nps-container .aem-content .content-heading {
    color: #001E41;
    font-weight: 200;
    padding-bottom: 30px;
    font-size: 32px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 0; }
  #nps-container .aem-content .bottomContainer {
    padding: 10px 5px;
    border-top: 1px solid #E5E5E5;
    text-align: center; }
    #nps-container .aem-content .bottomContainer.open {
      position: absolute;
      min-height: 100%;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: #fff;
      z-index: 2; }
    #nps-container .aem-content .bottomContainer h2.accordion__heading, #nps-container .aem-content .bottomContainer .refine-results .widget__heading .accordion__heading, .refine-results .widget__heading #nps-container .aem-content .bottomContainer .accordion__heading {
      display: inline;
      margin: 0px;
      background-color: #FFFFFF;
      color: #001E41;
      cursor: pointer;
      font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
      font-weight: 600;
      font-size: 1.0em;
      text-align: center;
      clear: none; }
    #nps-container .aem-content .bottomContainer .content-block, #nps-container .aem-content .bottomContainer .cta-campaign, #nps-container .aem-content .bottomContainer .aem-form-wrapper, #nps-container .aem-content .bottomContainer .tags-list {
      text-align: left; }
      #nps-container .aem-content .bottomContainer .content-block h3, #nps-container .aem-content .bottomContainer .cta-campaign h3, #nps-container .aem-content .bottomContainer .aem-form-wrapper h3, #nps-container .aem-content .bottomContainer .tags-list h3 {
        color: #00AAE0; }
  #nps-container .aem-content .par.parsys {
    margin-top: -50px;
    padding: 0px 30px; }
  #nps-container .aem-content .accordion__title {
    display: inline-block; }
  #nps-container .aem-content .accordion__title .btn-group {
    font-size: 20px;
    float: left;
    display: inline; }
  #nps-container .aem-content .accordion__title .icon-ex-col {
    font-size: 20px;
    float: right;
    position: static; }
#nps-container #nps-invite,
#nps-container #nps-optout {
  width: 100%; }
#nps-container #nps-invite .l-container {
  font-weight: 600;
  width: 100%;
  border-bottom: #E5E5E5 1px solid; }
  #nps-container #nps-invite .l-container--inner {
    padding: 10px 25px; }
#nps-container #nps-invite .content-container .col {
  width: 33%;
  float: left; }
#nps-container #nps-invite .content-container a.button--unstyled, #nps-container #nps-invite .content-container .col-30 .cta-campaign a.button, .col-30 .cta-campaign #nps-container #nps-invite .content-container a.button, #nps-container #nps-invite .content-container .col-30 .cta-campaign .button-toggle a.bt--normal, .col-30 .cta-campaign .button-toggle #nps-container #nps-invite .content-container a.bt--normal, #nps-container #nps-invite .content-container .button-toggle .col-30 .cta-campaign a.bt--normal, .button-toggle .col-30 .cta-campaign #nps-container #nps-invite .content-container a.bt--normal, #nps-container #nps-invite .content-container .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder input.bt--normal.text, .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder #nps-container #nps-invite .content-container input.bt--normal.text, #nps-container #nps-invite .content-container .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign input.bt--normal.text, .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign #nps-container #nps-invite .content-container input.bt--normal.text, #nps-container #nps-invite .content-container .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle input.bt--normal.text, .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle #nps-container #nps-invite .content-container input.bt--normal.text, #nps-container #nps-invite .content-container .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign input.bt--normal.text, .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign #nps-container #nps-invite .content-container input.bt--normal.text, #nps-container #nps-invite .content-container .col-30 .cta-campaign .button-toggle a.bt--selected, .col-30 .cta-campaign .button-toggle #nps-container #nps-invite .content-container a.bt--selected, #nps-container #nps-invite .content-container .button-toggle .col-30 .cta-campaign a.bt--selected, .button-toggle .col-30 .cta-campaign #nps-container #nps-invite .content-container a.bt--selected, #nps-container #nps-invite .content-container .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder input.bt--selected.text, .col-30 .cta-campaign .button-toggle .secondary-nav .search .ctrl-holder #nps-container #nps-invite .content-container input.bt--selected.text, #nps-container #nps-invite .content-container .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign input.bt--selected.text, .button-toggle .secondary-nav .search .ctrl-holder .col-30 .cta-campaign #nps-container #nps-invite .content-container input.bt--selected.text, #nps-container #nps-invite .content-container .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle input.bt--selected.text, .col-30 .cta-campaign .secondary-nav .search .ctrl-holder .button-toggle #nps-container #nps-invite .content-container input.bt--selected.text, #nps-container #nps-invite .content-container .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign input.bt--selected.text, .secondary-nav .search .ctrl-holder .button-toggle .col-30 .cta-campaign #nps-container #nps-invite .content-container input.bt--selected.text, #nps-container #nps-invite .content-container .col-30 .cta-campaign .secondary-nav .search .ctrl-holder input.button.text, .col-30 .cta-campaign .secondary-nav .search .ctrl-holder #nps-container #nps-invite .content-container input.button.text, #nps-container #nps-invite .content-container .secondary-nav .search .ctrl-holder .col-30 .cta-campaign input.button.text, .secondary-nav .search .ctrl-holder .col-30 .cta-campaign #nps-container #nps-invite .content-container input.button.text, #nps-container #nps-invite .content-container .secondary-nav .search .ctrl-holder input.button--unstyled.text, .secondary-nav .search .ctrl-holder #nps-container #nps-invite .content-container input.button--unstyled.text {
  padding: 12px 0px; }
#nps-container #nps-invite a.nps-btn-optout, #nps-container #nps-invite .secondary-nav .search .ctrl-holder input.nps-btn-optout.text, .secondary-nav .search .ctrl-holder #nps-container #nps-invite input.nps-btn-optout.text {
  display: block;
  color: #00AAE0; }
  #nps-container #nps-invite a.nps-btn-optout:hover, #nps-container #nps-invite .secondary-nav .search .ctrl-holder input.nps-btn-optout.text:hover, .secondary-nav .search .ctrl-holder #nps-container #nps-invite input.nps-btn-optout.text:hover {
    color: #00AAE0; }
#nps-container #nps-optout {
  padding: 0px; }
  #nps-container #nps-optout .content-container .col {
    width: 50%;
    float: left; }
#nps-container a.nps-btn-now, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text {
  outline: none;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  text-align: center; }
  #nps-container a.nps-btn-now:selection, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text:selection, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text:selection {
    background: transparent; }
  #nps-container a.nps-btn-now:hover, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text:hover, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text:hover {
    color: #646567; }
  #nps-container a.nps-btn-now span.icon:before, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text span.icon:before, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text span.icon:before, #nps-container a.nps-btn-now .fake-scroll span.cntrl-scroll:before, .fake-scroll #nps-container a.nps-btn-now span.cntrl-scroll:before, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text .fake-scroll span.cntrl-scroll:before, .fake-scroll #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text span.cntrl-scroll:before, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text .fake-scroll span.cntrl-scroll:before, .fake-scroll .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text span.cntrl-scroll:before, #nps-container a.nps-btn-now .ask-amp .submit-button-wrapper span:before, .ask-amp .submit-button-wrapper #nps-container a.nps-btn-now span:before, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text .ask-amp .submit-button-wrapper span:before, .ask-amp .submit-button-wrapper #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text span:before, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text .ask-amp .submit-button-wrapper span:before, .ask-amp .submit-button-wrapper .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text span:before, #nps-container a.nps-btn-now span.responsive-table-menu-btn:before, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-now.text span.responsive-table-menu-btn:before, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-now.text span.responsive-table-menu-btn:before {
    position: relative;
    top: 1px; }
#nps-container a.nps-btn-later, #nps-container .secondary-nav .search .ctrl-holder input.nps-btn-later.text, .secondary-nav .search .ctrl-holder #nps-container input.nps-btn-later.text {
  vertical-align: middle;
  width: 10%;
  text-align: right; }
#nps-container .groupOption .firstLastOption {
  padding: 10px 30px 0 5px;
  clear: both; }
#nps-container .groupOption a.button, #nps-container .groupOption .button-toggle a.bt--normal, .button-toggle #nps-container .groupOption a.bt--normal, #nps-container .groupOption .button-toggle .secondary-nav .search .ctrl-holder input.bt--normal.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .groupOption input.bt--normal.text, #nps-container .groupOption .secondary-nav .search .ctrl-holder .button-toggle input.bt--normal.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .groupOption input.bt--normal.text, #nps-container .groupOption .button-toggle a.bt--selected, .button-toggle #nps-container .groupOption a.bt--selected, #nps-container .groupOption .button-toggle .secondary-nav .search .ctrl-holder input.bt--selected.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .groupOption input.bt--selected.text, #nps-container .groupOption .secondary-nav .search .ctrl-holder .button-toggle input.bt--selected.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .groupOption input.bt--selected.text, #nps-container .groupOption .secondary-nav .search .ctrl-holder input.button.text, .secondary-nav .search .ctrl-holder #nps-container .groupOption input.button.text {
  border: 0;
  background-color: #f2f2f2;
  color: #808080;
  text-decoration: none;
  margin: 5px;
  padding: 6px 0px;
  width: 38px;
  font-size: 1.23em; }
  #nps-container .groupOption a.button:hover, #nps-container .groupOption .button-toggle a.bt--normal:hover, .button-toggle #nps-container .groupOption a.bt--normal:hover, #nps-container .groupOption .button-toggle .secondary-nav .search .ctrl-holder input.bt--normal.text:hover, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .groupOption input.bt--normal.text:hover, #nps-container .groupOption .secondary-nav .search .ctrl-holder .button-toggle input.bt--normal.text:hover, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .groupOption input.bt--normal.text:hover, #nps-container .groupOption .button-toggle a.bt--selected:hover, .button-toggle #nps-container .groupOption a.bt--selected:hover, #nps-container .groupOption .button-toggle .secondary-nav .search .ctrl-holder input.bt--selected.text:hover, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .groupOption input.bt--selected.text:hover, #nps-container .groupOption .secondary-nav .search .ctrl-holder .button-toggle input.bt--selected.text:hover, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .groupOption input.bt--selected.text:hover, #nps-container .groupOption .secondary-nav .search .ctrl-holder input.button.text:hover, .secondary-nav .search .ctrl-holder #nps-container .groupOption input.button.text:hover, #nps-container .groupOption a.button.hovered, #nps-container .groupOption .button-toggle a.hovered.bt--normal, .button-toggle #nps-container .groupOption a.hovered.bt--normal, #nps-container .groupOption .button-toggle .secondary-nav .search .ctrl-holder input.hovered.bt--normal.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .groupOption input.hovered.bt--normal.text, #nps-container .groupOption .secondary-nav .search .ctrl-holder .button-toggle input.hovered.bt--normal.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .groupOption input.hovered.bt--normal.text, #nps-container .groupOption .button-toggle a.hovered.bt--selected, .button-toggle #nps-container .groupOption a.hovered.bt--selected, #nps-container .groupOption .button-toggle .secondary-nav .search .ctrl-holder input.hovered.bt--selected.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .groupOption input.hovered.bt--selected.text, #nps-container .groupOption .secondary-nav .search .ctrl-holder .button-toggle input.hovered.bt--selected.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .groupOption input.hovered.bt--selected.text, #nps-container .groupOption .secondary-nav .search .ctrl-holder input.button.hovered.text, .secondary-nav .search .ctrl-holder #nps-container .groupOption input.button.hovered.text {
    color: #FFF;
    background-color: #00AAE0;
    border-color: #00AAE0;
    cursor: pointer; }
#nps-container .errorMessage {
  display: none; }
  #nps-container .errorMessage p {
    text-align: center; }
#nps-container .question .divNext {
  text-align: center;
  padding: 20px 0px;
  clear: both; }
  #nps-container .question .divNext a, #nps-container .question .divNext .secondary-nav .search .ctrl-holder input.text, .secondary-nav .search .ctrl-holder #nps-container .question .divNext input.text {
    font-weight: 600;
    text-decoration: none; }
#nps-container .question {
  text-align: left; }
  #nps-container .question.thank-you {
    text-align: center; }
  #nps-container .question .question-heading {
    color: #001E41;
    font-weight: 200;
    padding-bottom: 30px;
    font-size: 32px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 0; }
  #nps-container .question .question-quick-select {
    padding: 0 5px;
    margin-top: -10px;
    margin-bottom: 10px; }
    #nps-container .question .question-quick-select .quick-select-item {
      width: 28%;
      display: inline-block;
      padding: 5px 0;
      vertical-align: top;
      text-indent: -15px;
      padding-left: 15px; }
      #nps-container .question .question-quick-select .quick-select-item input {
        vertical-align: middle; }
  #nps-container .question .question-wording {
    font-weight: 600;
    line-height: 30px;
    color: #004983;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px; }
  #nps-container .question h3 {
    font-family: "Archer SSm A", "Archer SSm B", "Open Sans", "Helvetica", "Arial", serif; }
  #nps-container .question p {
    font-family: "Archer SSm A", "Archer SSm B", "Open Sans", "Helvetica", "Arial", serif;
    font-weight: 500;
    color: #001E41;
    font-size: 1.5384em;
    line-height: 28.8px; }
  #nps-container .question textarea {
    width: 100%;
    height: 100px; }
#nps-container .question-content div.likely {
  padding: 0px 20px 0px 10px; }
#nps-container .question-content span.first {
  float: left; }
#nps-container .question-content span.last {
  float: right; }
#nps-container .question-content .groupOption.mobile select {
  width: 100%;
  padding: 0px 20px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #ccc;
  margin: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none; }
#nps-container .question-content .groupOption.desktop {
  display: block; }
  @media only screen and (max-width: 47.9375em) {
    #nps-container .question-content .groupOption.desktop {
      display: none; } }
#nps-container .question-content .groupOption.mobile {
  display: none; }
  @media only screen and (max-width: 47.9375em) {
    #nps-container .question-content .groupOption.mobile {
      display: block; } }
#nps-container .question-content .question.thank-you {
  padding: 40px; }
  #nps-container .question-content .question.thank-you h3, #nps-container .question-content .question.thank-you p {
    padding-bottom: 20px; }
  #nps-container .question-content .question.thank-you .close.button, #nps-container .question-content .question.thank-you .button-toggle a.close.bt--normal, .button-toggle #nps-container .question-content .question.thank-you a.close.bt--normal, #nps-container .question-content .question.thank-you .button-toggle .secondary-nav .search .ctrl-holder input.close.bt--normal.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .question-content .question.thank-you input.close.bt--normal.text, #nps-container .question-content .question.thank-you .secondary-nav .search .ctrl-holder .button-toggle input.close.bt--normal.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .question-content .question.thank-you input.close.bt--normal.text, #nps-container .question-content .question.thank-you .button-toggle a.close.bt--selected, .button-toggle #nps-container .question-content .question.thank-you a.close.bt--selected, #nps-container .question-content .question.thank-you .button-toggle .secondary-nav .search .ctrl-holder input.close.bt--selected.text, .button-toggle .secondary-nav .search .ctrl-holder #nps-container .question-content .question.thank-you input.close.bt--selected.text, #nps-container .question-content .question.thank-you .secondary-nav .search .ctrl-holder .button-toggle input.close.bt--selected.text, .secondary-nav .search .ctrl-holder .button-toggle #nps-container .question-content .question.thank-you input.close.bt--selected.text {
    cursor: pointer; }
#nps-container .popup-container {
  width: 100%; }
#nps-container .popup-content-header .question {
  display: none; }
#nps-container .lightBoxArea {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  #nps-container .lightBoxArea .overlay {
    opacity: 0.4 !important;
    background: #000000; }
  #nps-container .lightBoxArea .light-box {
    position: relative !important;
    margin: 10px !important;
    top: 0 !important;
    left: 0 !important; }
    @media screen and (min-width: 769px) {
      #nps-container .lightBoxArea .light-box {
        width: 640px;
        margin: 30px auto !important; } }
    #nps-container .lightBoxArea .light-box .closeLB {
      float: right;
      color: #c3c3c3;
      position: absolute;
      right: 0;
      right: 20px;
      top: 10px;
      cursor: pointer;
      z-index: 1; }
    #nps-container .lightBoxArea .light-box .popup-container {
      padding: 40px 0px 0px 0px;
      min-height: 150px;
      max-height: 490px; }
      #nps-container .lightBoxArea .light-box .popup-container.preloader--active .preloader__spinner {
        top: 60px; }
      #nps-container .lightBoxArea .light-box .popup-container .content-popup {
        text-align: left; }
        #nps-container .lightBoxArea .light-box .popup-container .content-popup .popup-content-header {
          width: 90%;
          padding: 0px 20px; }

@media (min-width: 40em) and (max-width: 63.9375em) {
  .lightBoxArea .popup-container .popup-content-header {
    width: 91%;
    padding: 0px 10px; } }
@media only screen and (max-width: 47.9375em) {
  #nps-invite .logo-container div h3 {
    text-align: center; }

  #nps-optout .logo-container div h3 {
    text-align: center;
    padding-top: 20px; }

  #nps-invite .content-container, #nps-optout .content-container {
    width: 100%; }

  #nps-optout .logo-container {
    width: 100%; }
    #nps-optout .logo-container .logo {
      width: 30%; }
    #nps-optout .logo-container .logo + div {
      width: 65%; } }
@media only screen and (min-width: 40em) {
  #nps-optout .logo-container div h3 {
    float: none; }

  #nps-optout .content-container {
    width: 35%; }

  #nps-optout .logo-container {
    width: 65%; }
    #nps-optout .logo-container .logo {
      width: 30%; }
    #nps-optout .logo-container .logo + div {
      width: 65%; } }
@media only screen and (max-width: 63.9375em) {
  #nps-container .lightBoxArea .light-box {
    overflow-y: auto;
    overflow-x: hidden; }

  #nps-optout .content-container {
    width: 100%; }

  #nps-optout .logo-container {
    width: 100%; }
    #nps-optout .logo-container .logo {
      display: none; }
    #nps-optout .logo-container .logo + div {
      width: 100%; }

  #nps-invite .logo-container {
    width: 100%; }
    #nps-invite .logo-container .logo {
      width: 20%; }
    #nps-invite .logo-container .logo + div {
      display: inline-block;
      width: 61%; }

  #nps-invite .content-container {
    width: 100%; } }
@media only screen and (min-width: 48em) {
  #nps-invite .logo-container {
    width: 50%; }
    #nps-invite .logo-container .logo {
      width: 20%; }
    #nps-invite .logo-container .logo + div {
      display: inline-block;
      width: 61%;
      float: right; }

  .content-container {
    width: 50%; } }
@media (min-width: 48em) and (max-width: 77.6875em) {
  #nps-invite .content-container {
    width: 50%; }

  #nps-optout .content-container {
    width: 50%; }

  #nps-optout .logo-container {
    width: 50%; }
    #nps-optout .logo-container .logo {
      display: none; }
    #nps-optout .logo-container .logo + div {
      width: 100%; } }
@media only screen and (max-width: 47.9375em) {
  .lightBoxArea .light-box {
    width: auto !important; } }

.nps-btn {
	-moz-user-select: none;
	border: 1px solid transparent;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	display: inline-block;
	line-height: 1.42857;
	padding: 10px 10px 10px 10px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-family: Arial, sans-serif;
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.nps-btn:active,.nps-btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.nps-btn:hover,.nps-btn:focus,.nps-btn:active,.nps-btn.active {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.nps-btn-aqua {
	background-color: #428BCA;
	border-color: #357EBD;
	color: #FFFFFF;
}

.nps-btn-aqua:active,.nps-btn-aqua.active {
	background-image: none;
}

.nps-btn-optout:hover,.nps-btn-optout:focus,.nps-btn-optout:active,.nps-btn-optout.active {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}



.nps-btn-optout:active,.nps-btn-optout.active {
    background-image: none;
    margin-left: 0px;
}



.nps-btn-primary, a.nps-btn-primary {
	background-color: #00549F;
	border-color: #024E93;
	color: #FFFFFF;
	text-decoration: none;
}

.nps-btn-primary:hover,.nps-btn-primary:focus,.np-sbtn-primary:active {
	background-color: #0b60ac;
	border-color: #015198;
}

.nps-div-text {
    display: inline-block;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    #padding-left: 10px;
    #padding-right: 10px;
    line-height: 1.42857;
    font-size: 14px;
}

.nps-div {
    background-color: rgba(1, 25, 69, 0.9);
    font-family: arial, helvetica, clean, sans-serif;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.nps-subdiv {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nps-table {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.nps-table-row {
    vertical-align: middle;
}

.nps-table-cell {
    vertical-align: middle;
}

.nps-table-body {
    vertical-align: middle;
}

.nps-div-element {
    #float: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;

}

.nps-divhelper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.nps-btn-take-survey {
    color: #ffffff;
    background-color: #016db0;
    width: 5em;
}

.nps-btn-postpone {
    color: #011945;
    background-color: #cbcbcb;
    width: 5em;
}

.nps-btn-optout {
    background-color: rgba(0, 0, 0, 0);
    font-weight: normal;
    color: #ffffff;
    margin-left: 0px;
}

.nps-btn-provide-feedback {
    background-color: #016db0;
    color: #ffffff;
}

.nps-btn-optout-confirm {
    color: #011945;
    border-color: #cbcbcb;
    background-color: #cbcbcb;
}